<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jdav</servlet-name>
    <servlet-class>cc.co.llabor.JdavServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SfWebDav</servlet-name>
    <servlet-class>net.sf.webdav.WebdavServlet</servlet-class>
    <init-param>
      <param-name>rootpath</param-name>
      <param-value>/tmp/davtest/</param-value>
    </init-param>
    <init-param>
      <param-name>ResourceHandlerImplementation</param-name>
      <param-value>cc.co.llabor.dav.zip.Zip4Dav</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfWebDav</servlet-name>
    <url-pattern>/sfdav/*</url-pattern>
  </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>